---
import { Image, getImage } from 'astro:assets';

interface Links {
    url: string;
    name: string;
}
interface Props {
    role: string;
    title: string;
    tags: string[];
    links: Links[];
    description: string;
}

const { role, tags, title, links, description } = Astro.props;
---
<div class="shrink-0 bg-gray-800 block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-orange-500/50 hover:shadow-orange-500/50">
    <div>
        <p class="text-sm font-medium uppercase tracking-widest text-orange-500">{role}</p>
        <p class="text-xl font-bold text-white sm:text-2xl">{title}</p>

        <p class="mt-1 text-sm text-gray-300">
            {description}
        </p>
    </div>

    <div class="mt-1">
        {links && links.map((link: Links) => (
          <a role="button" href={link.url} target="_blank" class="text-[13px] no-underline hover:underline mr-2">
              {link.name}
          </a>
        ))}

        <br />

        {tags.map((tag: string) => (
            <span class="inline-flex text-[10px] ml-1 items-center justify-center rounded-full bg-orange-100 px-1.5 py-0.5 text-orange-700">
                {tag}
            </span>
        ))}
    </div>
</div>
